
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

/* header styling */
header {
  display: flex;
  padding-right: 10vw;
  justify-content: space-between;
  align-items: center;
  background-color: #3c4143;
  color:  #3c4143;;
}

h1 {
  font-size: 40px;
  padding: 1vh;
  padding-left: 5vw;
  background-color: rgb(192, 200, 215);

}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

li a {
  padding-right: 2vw;
  font-size: 20px;
  color: rgb(192, 200, 215);
  text-decoration: underline;
}

li a:hover {
  text-decoration: none;
}

/* hero banner styling */

.hero-banner {
  display: flex;
  align-items: flex-end;
  height: 30vh;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/Climbing.JPG");
  background-size: cover;
  background-position: center;
  color:  #3c4143;
  
}

/* avatar od Stuart */
img {
  height: 15vh;
  border-radius: 50%;
  border: whitesmoke 3px solid;
  margin: 1em;
}

h2 {
  font-size: 30px;
  padding: 1vh;
  background-color: rgb(192, 200, 215);
  margin-left: 50vw;
}

/* main content styling */

main {
  display: flex;
  width: 90vw;
  flex-direction: column;
  margin: 0 auto;
}

.page-section,
footer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
/* styling for sidebars */

aside {
  display:inline-block;
  text-align: right;
}

h3,
h5 {
  width: 10vw;
  font-size: 2em;
  padding-right: 1em;

}

h5 {
  border-right: #3c4143 solid 3px;;
}

.about-me {
  display: block;
  width: 60vw;
  padding-left: 5vw;
  border-left: #3c4143 solid 3px;
}


/* grid css */
.grid{
  display: grid;
  padding-left: 5vw;
  border-left: #3c4143 solid 3px;
  grid-template-rows: 30vh 30vh 30vh;
  grid-template-columns: 30vw 30vw;
  grid-template-areas:
  "refactor refactor"
  "led-wall calculator"
  "pastel-puzzles run-buddy"
  ;
}

#refactor {
  grid-area: refactor;
  background-image: url("../images/stuart540.github.io_code-refactor-horiseon.jpg");

}
#led-wall{
  grid-area: led-wall;
  background-image: url("../images/02-portfolio-1.jpg");
}

#calculator {
  grid-area: calculator;
  background-image: url("../images/02-portfolio-2.jpg");
}

#pastel-puzzles{
  grid-area: pastel-puzzles;
  background-image: url("../images/02-hero-bg.jpg");
}

#run-buddy {
  grid-area: run-buddy;
  background-image: url("../images/02-run-buddy.jpg")
}

.GridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: #3c4143 solid 5px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;

}

.heading {
  font-size: 20px;
  background-color: #3c4143;
  padding: 1ex;
  text-justify: ;
}

.GridArea:hover {
  opacity: 0.7;
}

.flex-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: #3c4143 solid 5px;
  border-radius: 10px;
  margin: 5px;
  font-size: 20px;
  padding: 1ex;
}

.flex-item:hover {
  opacity: 0.7;
}

.clickable {
  background-color: #3c4143;
  
  color: black;
}

h4 {
  
}

/* footer link styling */
.footer_links {
  display: flex;
  padding-left: 30vw;
  padding-bottom: 10vh;


}

footer {
  display: flex;  
  align-items: stretch;
}

@media screen and (max-width: 979px) {
 
  h1 {
    width: max-content;
    padding-inline: 100%;
  }
 
  h3,
  h5 {
  width: max-content;

 }

 .hero-banner {
  height: 40vh;

 }

 

 .about-me,
 .grid {
  border-left: none;
  border-top: #3c4143 solid 3px;
}

 section,
 header {
  display: flex;
  flex-direction: column;

 }

}

@media screen and (max-width: 769px) {
  
  h2 {
    margin-left: 0;
    
  }
  
  .grid {
    display: flex;
    flex-direction: column;
  }
}